main {
  margin-bottom: 30px;
}

table {
  height: fit-content;
  margin: 0 auto;
  width: 80%;
  max-width: 1050px;
}

#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background-color: rgba(0, 0, 0, 0.9);
}

td {
  text-align: center;
}

th {
  text-align: center !important;
}

ng-container th td {
  text-align: center !important;
}

@media (max-width:800px) {
  table {
    width: 90%;
  }
}

@media (max-width:700px) {
  table {
    width: 100%;
    min-width: 640px;
  }

}